page-welcome {
  #welcome{
    align-content: center;
  background: color($colors, color1 );
  h1{
        font-size: 52px;
        margin-top:50px;
        align-content: center;
    }
    .marginTop{
        margin-top:150px;
    }

}
}
